{
  "backend/**/*.js": [
    "npm run lint:fix --prefix backend --",
    "npx prettier --write"
  ],
  "ui/**/*.{js,vue}": [
    "npm run lint:fix --prefix ui --",
    "npx prettier --write"
  ],
  "*.{json,md,css}": [
    "npx prettier --write"
  ]
}
